

body {
  
}

div {
  width: 800px;
  background-color: lavender;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  padding-top: 20px;
}

.div {
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  margin-bottom: 30px;
  padding: 20px;
  height: auto;
  background-color: gainsboro;
}

h3 {
  margin: 0px;
  padding: 0px;
}

h1 {
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
}

pre {
  background-color: #fff;
  padding: 10px;
}